Source: folly
Section: libs
Priority: optional
Maintainer: Gea-Suan Lin (PPA) <gslin@gslin.org>
Build-Depends: binutils-dev, build-essential, cmake (>= 3.0.2), debhelper (>= 9.0.0), libboost-all-dev, libevent-dev, libdouble-conversion-dev, libgflags-dev, libgoogle-glog-dev, libiberty-dev, libjemalloc-dev, liblz4-dev, liblzma-dev, libsnappy-dev, libssl-dev, pkg-config, zlib1g-dev
Standards-Version: 3.9.7
Homepage: https://github.com/facebook/folly
Vcs-Git: https://github.com/facebook/folly.git
Vcs-Browser: https://github.com/facebook/folly

Package: folly
Architecture: any
Depends: ${shlibs:Depends}
Description: An open-source C++ library developed and used at Facebook.
